<a href="https://colab.research.google.com/github/joannediaz04/ADVANCED_DATA_WAREHOUSING/blob/main/mod_12%2613.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/anne/movies_metadata.csv'
df = pd.read_csv(filename)

<ipython-input-5-23e507e390ec>:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [5]:
df.head()

NameError: ignored

In [ ]:
df[['budget']].head()

     budget
0  30000000
1  65000000
2         0
3  16000000
4         0

In [ ]:
df[['budget', 'genres', ]].tail()

      budget                                             genres
45461      0  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462      0                      [{'id': 18, 'name': 'Drama'}]
45463      0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464      0                                                 []
45465      0                                                 []

In [ ]:
df['budget'].head()

0    30000000
1    65000000
2           0
3    16000000
4           0
Name: budget, dtype: object

In [ ]:
type(df['original_language'].head())

pandas.core.series.Series

In [ ]:
df['overview', 'release_date']

KeyError: ignored

In [ ]:
df['overview']

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45466, dtype: object

In [ ]:
df['genres'][0:10]

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
5    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9    [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
Name: genres, dtype: object

In [ ]:
df.homepage.head()

0    http://toystory.disney.com/toy-story
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
Name: homepage, dtype: object

In [ ]:
df.loc[:, ['homepage']].head()

                               homepage
0  http://toystory.disney.com/toy-story
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN

In [ ]:
df.loc[:, 'original_title'].head()

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: original_title, dtype: object

In [ ]:
df['original_title'].value_counts()

Hamlet                 8
Alice in Wonderland    8
Les Misérables         7
Cinderella             7
Macbeth                7
                      ..
거미숲                    1
What Goes Up           1
12th & Delaware        1
Wonder Bar             1
Queerama               1
Name: original_title, Length: 43373, dtype: int64

In [ ]:
mortgage_filter = df['original_language']=='30 Year'
mortgage_filter.head()

0    False
1    False
2    False
3    False
4    False
Name: original_language, dtype: bool

In [ ]:
df.loc[mortgage_filter, :].head()

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [ ]:
df.loc[mortgage_filter, :].head()

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [ ]:
df['genres'].value_counts()

[{'id': 18, 'name': 'Drama'}]                                                                                                         5000
[{'id': 35, 'name': 'Comedy'}]                                                                                                        3621
[{'id': 99, 'name': 'Documentary'}]                                                                                                   2723
[]                                                                                                                                    2442
[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]                                                                       1301
                                                                                                                                      ...
[{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}, {'id': 99, 'name': 'Documentary'}]             1
[{'id': 10752, 'name': 'War'}, {'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}, {'id': 53, 'name': 'Thriller'}]               1
[{'id': 27, 'name': 'Horror'}, {'id': 18, 'name': 'Drama'}, {'id': 36, 'name': 'History'}, {'id': 53, 'name': 'Thriller'}]               1
[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}, {'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}]                   1
[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]       1
Name: genres, Length: 4069, dtype: int64

In [ ]:
df = df.loc[mortgage_filter, :]
df['id'].value_counts()

Series([], Name: id, dtype: int64)

In [ ]:
df['revenue'].value_counts()

Series([], Name: revenue, dtype: int64)

In [ ]:
df['adult']==0.03

Series([], Name: adult, dtype: bool)

In [ ]:
interest_filter = df['original_title']==0.03
df = df.loc[interest_filter, :]
df['original_title'].value_counts(dropna = False)

Series([], Name: original_title, dtype: int64)

In [ ]:
df = df.loc[mortgage_filter & interest_filter, :]
df

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [6]:
df.Principal Paid

SyntaxError: ignored

In [ ]:
df = df.rename(columns={'original_title': 'overview',
'release_date': 'revenue',
'runtime': 'spoken_languages'})

df.head

<bound method NDFrame.head of Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, overview, overview, popularity, poster_path, production_companies, production_countries, revenue, revenue, spoken_languages, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]>

In [ ]:
df.columns =['', 'adult',	'belongs_to_collection',	'budget'	,'genres',	'homepage',	'id',	'imdb_id',	'original_language',	'original_title',	'overview',	'...',	'release_date',	'revenue',	'runtime'	,'spoken_languages',	'status',	'tagline',	'title',	'video',	'vote_average',	'vote_count','','']
df.head()

Empty DataFrame
Columns: [, adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, ..., release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, , ]
Index: []

[0 rows x 24 columns]

In [ ]:
df = df.drop(columns=['revenue'])
df.head()

Empty DataFrame
Columns: [, adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, ..., release_date, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, , ]
Index: []

[0 rows x 23 columns]

In [ ]:
del df['original_title']
df.head()

Empty DataFrame
Columns: [, adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, overview, ..., release_date, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, , ]
Index: []

[0 rows x 22 columns]

In [ ]:
df.isna()

Empty DataFrame
Columns: [, adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, overview, ..., release_date, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count, , ]
Index: []

[0 rows x 22 columns]